* {
    font-family: Arial, Helvetica, sans-serif;
}

.earnedPoints {
    color: green
}

.lostPoints {
    color: red
}

.primaryColor {
    color: blue
}

/* container */
.container {
    max-width: 970px;
}

/* tables */